
        body {
            background: #f3f7ef;
            font-family: "Poppins", sans-serif;
        }
        .sidebar {
            width: 250px;
            height: 100vh;              
            position: fixed;
            left: 0;
            top: 0;

            background: #4B763A;
            padding-top: 10px;

            display: flex;
            flex-direction: column;

            overflow-y: auto;           
            overflow-x: hidden;
        }

        .sidebar a {
            text-decoration: none !important;
        }

        .sidebar-logo {
            width: 120px;
            display: block;
            margin: 0 auto 30px auto;
        }

        .sidebar .profile-box p {
            margin: 0;
            color: #F7E967;
        }

        .sidebar-content {
            flex-grow: 1;
            overflow-y: auto;    
        }

        .sidebar-menu .menu-item {
            display: block;
            padding: 15px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            transition: background 0.3s;
        }


        .menu-item,
        .menu-item:hover,
        .menu-item.active {
            color: #FEFD8E !important;
        }
        
        .stat-card p,
        .stat-value,
        .label-text {
            color: #FEFD8E !important;
        }

        .menu-item {
            padding: 19px 30px;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
        }

        .menu-item:hover, .menu-item.active {
            background: white;
            color: #325B2E !important; 
            border-radius: 0 40px 40px 0;
        }

        .dashboard-container {
            margin-left: 250px;
            padding: 30px;
           
        }

        .dash-title {
            font-size: 32px;
            font-weight: 700;
            color: #4B763A;
        }

        .dash-subtitle{
            color: black;

        }

        .stat-card {
            background: #4B763A;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
        }

        .stat-value {
            font-size: 42px;
            font-weight: 800;
        }

        table {
            background: white;
        }

        .profile-box-wrapper {
                text-decoration: none;
        }

        .profile-box {
            display: flex;
            align-items: center;
            padding: 10px;
            background: #3e612d;          
            border-radius: 15px;
            transition: 0.2s;
        }

        .profile-box:hover {
            background: #355528;
            cursor: pointer;
        }

        .profile-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }

        .profile-name {
            margin: 0;
            color: white;
            font-weight: 500;
        }

        /*LOGIN*/
    
        .login-wrapper {
            display: flex;
            height: 100vh;
        }

        .login-left {
            width: 55%;
            background: url('../assets/login_bg.jpg') no-repeat center center;
            background-size: cover;
            position: relative;
        }

        .login-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(34, 82, 41, 0.55); 
        }

        
        .login-right {
            width: 45%;
            background: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        .login-top-buttons {
            position: absolute;
            top: 10px;
            right: 20px;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        
        .btn-register-small {
            border: 2px solid #0f3d2e;
            padding: 6px 16px;
            border-radius: 8px;
            background: #fff;
            font-size: 14px;
            color: #0f3d2e;
            transition: 0.2s;
        }

        .btn-register-small:hover {
            background: #0f3d2e;
            color: #fff;
        }

       
        .login-logo {
            width: 65px;
        }

        
        .login-panel {
            background: white;
            padding: 40px 45px;
            border-radius: 25px;
            width: 80%;
            
        }

        
        .login-title {
            font-size: 32px;
            font-weight: 800;
            color: #0f3d2e;
        }

        .login-subtitle {
            color: #333;
        }

        .login-input {
            border: 2px solid #0f3d2e;
            border-radius: 12px;
            padding: 12px;
            margin-bottom: 18px;
        }

        .login-forgot {
            color: #b31212;
            font-size: 14px;
            float: right;
            margin-bottom: 20px;
            
        }

        
        .login-btn {
            background: #0f3d2e;
            color: white;
            width: 100%;
            padding: 14px;
            border-radius: 12px;
            font-size: 18px;
        }


